<div class="toolbar">
  <div class="toolbar-wrap wrapper">
    <a routerLink="/" class="toolbar-logo-link"><img src="/assets/img/list_logo_2x.png" alt="logo" class="toolbar-logo"></a>
    <div class="toolbar-socials">
      <a target="_blank" href="https://t.me/noisyminer" class="social-link"><img src="/assets/img/telegram_color.svg" alt="socials icon" class="socials-icon"></a>
      <a href="" class="social-link"><img src="/assets/img/twitter_color.svg" alt="socials icon" class="socials-icon"></a>
    </div>
  </div>
</div>
