@import "../../../styles"
.toolbar
  padding: 14px 0
  background-color: #ffffff
  position: relative
  box-shadow: 0 8px 15px rgba(0,0,0,.3)
  z-index: 2
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
    min-width: auto
  &-logo-link
    height: 29px
    display: block
  &-logo
    height: 100%
    width: auto
  &-socials
    display: flex
    .social-link
      margin-left: 16px
      +size(32px)
      .socials-icon
        +size(100%)
