@font-face
  font-family: 'Familiar Pro'
  src: url('/assets/fonts/FamiliarPro-Bold/FamiliarPro-Bold.eot')
  src: url('/assets/fonts/FamiliarPro-Bold/FamiliarPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/FamiliarPro-Bold/FamiliarPro-Bold.woff2') format('woff2'),
  url('/assets/fonts/FamiliarPro-Bold/FamiliarPro-Bold.woff') format('woff'),
  url('/assets/fonts/FamiliarPro-Bold/FamiliarPro-Bold.ttf') format('truetype'),
  url('/assets/fonts/FamiliarPro-Bold/FamiliarPro-Bold.svg#FamiliarPro-Bold') format('svg')
  font-weight: 700
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-00FE
