@import "fonts"
// vars
$accent-color: rgb(243, 217, 0)
$main-color: rgb(28, 21, 73)
$bg-color: rgb(244, 244, 244)
$text-color: rgb(47,47,47)
$gray-lite: rgb(104, 104, 104)
$gray-dark: rgb(47, 47, 47)
$gray: rgb(75, 75, 75)
$cabin: 'Cabin', sans-serif
$familiar: 'Familiar Pro', sans-serif
// my-mixins

=gradient($color1, $color2, $way)
  background: $color1
  background: linear-gradient(to $way, $color1 0%, $color2 100%)

=size($size)
  width: $size
  height: $size

=custom_bg($size)
  background-color: transparent
  background-size: $size
  background-position: center center
  background-repeat: no-repeat

=clipping_text()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

=square()
  &:after
    content: ""
    display: block
    padding-top: 100%

=placeholder()
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

=media($size)
  @media screen and (max-width: $size+px)
    @content

=large()
  @media screen and (max-width: 1200px)
    @content

=medium()
  @media screen and (max-width: 992px)
    @content

=small()
  @media screen and (max-width: 768px)
    @content

=extra_small()
  @media screen and (max-width: 576px)
    @content
