<div class="header">
  <app-rocket class="header-bg"></app-rocket>
  <div class="header-wrap wrapper">
    <div class="header-content">
      <h2 class="header-text">{{'hero_text_1' | translate}}<br><span>{{'hero_text_2' | translate}}</span> {{'hero_text_3' | translate}}</h2>
      <div class="action-wrap">
        <a href="mailto:sales@noisyminer.com" class="header-btn accent-btn">{{'hero_btn_1' | translate}}</a>
        <a target="_blank" href="https://t.me/noisyminer" class="header-btn main-btn">{{'hero_btn_2' | translate}}</a>
      </div>
    </div>
  </div>
</div>
