@import "../../../../../styles"
.header
  +gradient($gray-dark, $gray-lite, top)
  position: relative
  overflow: hidden
  display: table
  width: 100%
  &-wrap
    display: flex
    flex-direction: column
  &-bg
    z-index: 0
    position: absolute
    top: 0
    left: 0
    +size(100%)
  &-content
    position: relative
    padding: 55px 0 146px
    max-width: 515px
    align-self: flex-end
    z-index: 1
  &-text
    font-family: $familiar
    font-size: 36px
    line-height: 50px
    letter-spacing: .5px
    color: #ffffff
    margin-bottom: 39px
    span
      color: $accent-color
  .action-wrap
    display: flex
    .header-btn
      &:first-child
        margin-right: 25px
