<div class="app" *ngIf="dataLoaded">
  <app-toolbar></app-toolbar>
  <div class="app-content">
    <router-outlet *ngIf="dataLoaded"></router-outlet>
    <div class="flex"></div>
    <app-footer></app-footer>
  </div>
</div>
