@import "../../../styles"
\:host
  display: table
.footer
  padding: 50px 0 27px
  width: 100%
  background-color: $gray-dark
  color: #ffffff
  text-align: center
  &-text
    font: 400 16px/24px $cabin
    letter-spacing: .8px
    margin: 0 auto 30px
    max-width: 500px
  &-btn
    margin: 0 auto 36px
  &-social
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto 9px
    .social-label
      font: 500 14px/30px $cabin
      letter-spacing: .4px
      margin-right: 20px
    .social-link
      display: flex
      align-items: center
      .social-icon
        margin-right: 10px
        +size(17px)
      .social-name
        font: 400 14px/30px $cabin
        letter-spacing: .4px
        margin-right: 15px
        opacity: .5
      &:last-child
        .social-name
          margin-right: 0
  &-mail
    margin-bottom: 45px
    .mail-label
      font: 500 14px/30px $cabin
      letter-spacing: .4px
      display: inline-block
      margin-right: 8px
    .mail-link
      font: 400 14px/30px $cabin
      letter-spacing: .4px
      opacity: .5
  &-copy
    font: 400 12px/24px $cabin
    letter-spacing: .8px
