<footer class="footer">
  <div class="footer-wrap wrapper">
    <p class="footer-text">{{'footer_text' | translate}}</p>
    <a href="mailto:sales@noisyminer.com" class="footer-btn main-btn">{{'footer_btn' | translate}}</a>
    <div class="footer-social">
      <p class="social-label">{{'get_in_touch' | translate}}</p>
      <a target="_blank" href="https://t.me/noisyminer" class="social-link">
        <img src="/assets/img/telegram_b&w.svg" alt="social-icon" class="social-icon">
        <p class="social-name">{{'telegram' | translate}}</p>
      </a>
      <a href="" class="social-link">
        <img src="/assets/img/twitter_b&w.svg" alt="social-icon" class="social-icon">
        <p class="social-name">{{'twitter' | translate}}</p>
      </a>
    </div>
    <div class="footer-mail">
      <p class="mail-label">{{'email' | translate}}</p>
      <a href="mailto:sales@alterfolio.com" class="mail-link">sales@alterfolio.net</a>
    </div>
    <p class="footer-copy">{{'copy' | translate}}</p>
  </div>
</footer>
