<div class="rocket">
  <svg width="1200px" height="498px" viewBox="0 0 1200 498" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <polygon id="path-1" points="0.9441 0.603486876 111.333 0.603486876 111.333 59.4509 0.9441 59.4509"></polygon>
      <polygon id="path-3" points="0.5946 0.873 123.777059 0.873 123.777059 38.144 0.5946 38.144"></polygon>
      <polygon id="path-5" points="0.4558 0.6102 140.6328 0.6102 140.6328 90 0.4558 90"></polygon>
      <polygon id="path-7" points="0.6629 0.3993 95.2129 0.3993 95.2129 67 0.6629 67"></polygon>
      <linearGradient x1="42.2674843%" y1="4.74412833%" x2="20.5559491%" y2="79.2904685%" id="linearGradient-9">
        <stop stop-color="#686868" offset="0%"></stop>
        <stop stop-color="#2F2F2F" offset="100%"></stop>
      </linearGradient>
      <circle id="path-10" cx="984" cy="193" r="3"></circle>
      <filter x="-125.0%" y="-125.0%" width="350.0%" height="350.0%" filterUnits="objectBoundingBox" id="filter-11">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-12" cx="982" cy="111" r="1"></circle>
      <filter x="-375.0%" y="-375.0%" width="850.0%" height="850.0%" filterUnits="objectBoundingBox" id="filter-13">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-14" cx="1048.5" cy="166.5" r="2.5"></circle>
      <filter x="-270.0%" y="-270.0%" width="640.0%" height="640.0%" filterUnits="objectBoundingBox" id="filter-15">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-16" cx="808.5" cy="136.5" r="2.5"></circle>
      <filter x="-270.0%" y="-270.0%" width="640.0%" height="640.0%" filterUnits="objectBoundingBox" id="filter-17">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-18" cx="899.5" cy="317.5" r="3.5"></circle>
      <filter x="-192.9%" y="-192.9%" width="485.7%" height="485.7%" filterUnits="objectBoundingBox" id="filter-19">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-20" cx="267.5" cy="77.5" r="3.5"></circle>
      <filter x="-192.9%" y="-192.9%" width="485.7%" height="485.7%" filterUnits="objectBoundingBox" id="filter-21">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-22" cx="663.5" cy="118.5" r="2.5"></circle>
      <filter x="-270.0%" y="-270.0%" width="640.0%" height="640.0%" filterUnits="objectBoundingBox" id="filter-23">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-24" cx="373.5" cy="118.5" r="2.5"></circle>
      <filter x="-270.0%" y="-270.0%" width="640.0%" height="640.0%" filterUnits="objectBoundingBox" id="filter-25">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-26" cx="827" cy="397" r="3"></circle>
      <filter x="-275.0%" y="-275.0%" width="650.0%" height="650.0%" filterUnits="objectBoundingBox" id="filter-27">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-28" cx="575" cy="434" r="4"></circle>
      <filter x="-318.8%" y="-318.8%" width="737.5%" height="737.5%" filterUnits="objectBoundingBox" id="filter-29">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="8" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.65625 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-30" cx="1145" cy="254" r="4"></circle>
      <filter x="-187.5%" y="-187.5%" width="475.0%" height="475.0%" filterUnits="objectBoundingBox" id="filter-31">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.703379755 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
      <circle id="path-32" cx="693.5" cy="322.5" r="2.5"></circle>
      <filter x="-450.0%" y="-450.0%" width="1000.0%" height="1000.0%" filterUnits="objectBoundingBox" id="filter-33">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="6" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
        <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
        <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter2" result="shadowBlurOuter2"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
        <feMerge>
          <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
          <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
        </feMerge>
      </filter>
      <circle id="path-34" cx="1103.5" cy="362.5" r="2.5"></circle>
      <filter x="-450.0%" y="-450.0%" width="1000.0%" height="1000.0%" filterUnits="objectBoundingBox" id="filter-35">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="6" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
        <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
        <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter2" result="shadowBlurOuter2"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
        <feMerge>
          <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
          <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
        </feMerge>
      </filter>
      <circle id="path-36" cx="1104.5" cy="83.5" r="3.5"></circle>
      <filter x="-321.4%" y="-321.4%" width="742.9%" height="742.9%" filterUnits="objectBoundingBox" id="filter-37">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="6" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
        <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
        <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter2" result="shadowBlurOuter2"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
        <feMerge>
          <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
          <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
        </feMerge>
      </filter>
      <circle id="path-38" cx="583.5" cy="192.5" r="2.5"></circle>
      <filter x="-340.0%" y="-340.0%" width="780.0%" height="780.0%" filterUnits="objectBoundingBox" id="filter-39">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.519870924 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
        <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
        <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter2" result="shadowBlurOuter2"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 1 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
        <feMerge>
          <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
          <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
        </feMerge>
      </filter>
      <circle id="path-40" cx="83.5" cy="192.5" r="2.5"></circle>
      <filter x="-340.0%" y="-340.0%" width="780.0%" height="780.0%" filterUnits="objectBoundingBox" id="filter-41">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.519870924 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
        <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
        <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter2" result="shadowBlurOuter2"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 1 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
        <feMerge>
          <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
          <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
        </feMerge>
      </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Artboard-6">
        <rect id="Rectangle" x="0" y="0" width="1200" height="498"></rect>

        <circle #1_1 id="Oval-4" fill="#FFFFFF" cx="642" cy="241" r="1"></circle>
        <circle #1_2 id="Oval-4" fill="#FFFFFF" cx="642" cy="391" r="1"></circle>

        <circle #1.5_1 id="Oval-4" fill="#FFFFFF" cx="552.5" cy="371.5" r="1.5"></circle>
        <circle #1.5_2 id="Oval-4" fill="#FFFFFF" cx="552.5" cy="281.5" r="1.5"></circle>
        <circle #1.5_3 id="Oval-4" fill="#FFFFFF" cx="72.5" cy="281.5" r="1.5"></circle>
        <circle #1.5_4 id="Oval-4" fill="#FFFFFF" cx="652.5" cy="331.5" r="1.5"></circle>
        <circle #1.5_5 id="Oval-4" fill="#FFFFFF" cx="762.5" cy="231.5" r="1.5"></circle>
        <circle #1.5_6 id="Oval-4" fill="#FFFFFF" cx="882.5" cy="241.5" r="1.5"></circle>
        <circle #1.5_7 id="Oval-4" fill="#FFFFFF" cx="122.5" cy="401.5" r="1.5"></circle>
        <circle #1.5_8 id="Oval-4" fill="#FFFFFF" cx="102.5" cy="71.5" r="1.5"></circle>
        <circle #1.5_9 id="Oval-4" fill="#FFFFFF" cx="562.5" cy="81.5" r="1.5"></circle>
        <circle #1.5_10 id="Oval-4" fill="#FFFFFF" cx="822.5" cy="71.5" r="1.5"></circle>
        <circle #1.5_11 id="Oval-4" fill="#FFFFFF" cx="1022.5" cy="191.5" r="1.5"></circle>

        <circle #2_1 id="Oval-4" fill="#FFFFFF" cx="1083" cy="412" r="2"></circle>
        <circle #2_2 id="Oval-4" fill="#FFFFFF" cx="793" cy="382" r="2"></circle>
        <circle #2_3 id="Oval-4" fill="#FFFFFF" cx="443" cy="342" r="2"></circle>

        <circle #2.5_1 id="Oval-4" fill="#FFFFFF" cx="173.5" cy="172.5" r="2.5"></circle>
        <circle #2.5_2 id="Oval-4" fill="#FFFFFF" cx="303.5" cy="422.5" r="2.5"></circle>
        <circle #2.5_3 id="Oval-4" fill="#FFFFFF" cx="413.5" cy="422.5" r="2.5"></circle>

        <circle #3_1 id="Oval-4" fill="#FFFFFF" cx="504" cy="173" r="3"></circle>
        <circle #3_2 id="Oval-4" fill="#FFFFFF" cx="1014" cy="363" r="3"></circle>

        <circle #4_1 id="Oval-4" fill="#FFFFFF" cx="485" cy="74" r="4"></circle>
        <circle #4_2 id="Oval-4" fill="#FFFFFF" cx="355" cy="364" r="4"></circle>
        <circle #4_3 id="Oval-4" fill="#FFFFFF" cx="865" cy="94" r="4"></circle>
        <g #5_1 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-11)" xlink:href="#path-10"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-10"></use>
        </g>
        <g #5_2 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-13)" xlink:href="#path-12"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-12"></use>
        </g>
        <g #5_3 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-15)" xlink:href="#path-14"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-14"></use>
        </g>
        <g #5_4 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-17)" xlink:href="#path-16"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-16"></use>
        </g>
        <g #5_5 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-19)" xlink:href="#path-18"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-18"></use>
        </g>
        <g #5_6 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-21)" xlink:href="#path-20"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-20"></use>
        </g>
        <g #5_7 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-23)" xlink:href="#path-22"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-22"></use>
        </g>
        <g #5_8 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-25)" xlink:href="#path-24"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-24"></use>
        </g>
        <g #5_9 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-27)" xlink:href="#path-26"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-26"></use>
        </g>
        <g #5_10 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-29)" xlink:href="#path-28"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-28"></use>
        </g>
        <g #5_11 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-31)" xlink:href="#path-30"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-30"></use>
        </g>
        <g #5_12 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-33)" xlink:href="#path-32"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-32"></use>
        </g>
        <g #5_13 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-35)" xlink:href="#path-34"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-34"></use>
        </g>
        <g #5_14 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-37)" xlink:href="#path-36"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-36"></use>
        </g>
        <g #5_15 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-39)" xlink:href="#path-38"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-38"></use>
        </g>
        <g #5_16 id="Oval-4">
          <use fill="black" fill-opacity="1" filter="url(#filter-41)" xlink:href="#path-40"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-40"></use>
        </g>

        <g id="Page-1" transform="translate(149.000000, 168.000000)">
          <path d="M55.0189,91.539 C55.0189,91.539 83.5289,120.823 129.7979,121.082 C129.7979,121.082 189.9019,72.038 114.5119,35.26 C114.5119,35.26 76.4559,42.16 55.0189,91.539 Z" id="Fill-1" fill="#F1D80E"></path>
          <g id="Group-5" transform="translate(220.000000, 21.127000)">
            <mask id="mask-2" fill="white">
              <use xlink:href="#path-1"></use>
            </mask>
            <g id="Clip-4"></g>
            <path d="M51.6481,51.6559 C51.6481,51.6559 113.0981,42.8239 111.2941,15.8119 C102.8961,-9.9251 42.5841,4.7929 42.5841,4.7929 L0.9441,12.7229 L10.8951,59.4509 L51.6481,51.6559 Z" id="Fill-3" fill="#A4A4A4" mask="url(#mask-2)"></path>
          </g>
          <path d="M230.895,80.5776 L271.648,72.7826 C271.648,72.7826 333.098,63.9506 331.294,36.9386 L226.141,58.2556 L230.895,80.5776 Z" id="Fill-6" fill="#727272"></path>
          <path d="M191.8418,112.8029 L276.2318,96.4809 C276.2318,96.4809 290.0298,94.7309 306.7668,82.2409 C306.7668,82.2409 310.6158,79.7459 310.4168,77.5339 C309.7768,75.4069 305.2748,74.5269 305.2748,74.5269 C285.0878,69.1779 271.6318,72.6989 271.6318,72.6989 L230.8948,80.5779 L210.1918,84.7709 L191.8418,112.8029 Z" id="Fill-8" fill="#FEFEFE"></path>
          <path d="M191.8418,112.8029 L276.2318,96.4809 C276.2318,96.4809 290.0298,94.7309 306.7668,82.2409 C306.7668,82.2409 310.6158,79.7459 310.4168,77.5339 L200.7778,99.1519 L191.8418,112.8029 Z" id="Fill-10" fill="#D5D5D5"></path>
          <g id="Group-14" transform="translate(173.000000, 0.127000)">
            <mask id="mask-4" fill="white">
              <use xlink:href="#path-3"></use>
            </mask>
            <g id="Clip-13"></g>
            <path d="M45.7526,9.598 L50.3566,33.405 L25.8506,38.144 L0.5946,18.332 L84.9846,2.01 C84.9846,2.01 98.4406,-1.511 118.6276,3.838 C118.6276,3.838 123.1296,4.718 123.7696,6.845 C123.9686,9.057 120.1196,11.552 120.1196,11.552 C103.3826,24.043 89.5846,25.793 89.5846,25.793 L50.3566,33.405" id="Fill-12" fill="#FEFEFE" mask="url(#mask-4)"></path>
          </g>
          <path d="M178.1946,42.3541 L262.5846,26.0321 C262.5846,26.0321 276.3826,24.2821 293.1196,11.7921 C293.1196,11.7921 296.9686,9.2971 296.7696,7.0851 L187.1306,28.7031 L178.1946,42.3541 Z" id="Fill-15" fill="#D5D5D5"></path>
          <path d="M170.3511,136.127 L218.1601,84.471 C271.5271,70.387 280.6331,46.737 280.6331,46.737 C280.6331,46.737 263.3651,28.188 208.5961,35.019 L144.9731,4.914 L153.7091,50.08 L136.0551,50.759 L140.5191,73.836 L144.9821,96.914 L161.6151,90.961 L170.3511,136.127 Z" id="Fill-17" fill="#FEFEFE"></path>
          <g id="Group-21" transform="translate(140.000000, 46.127000)">
            <mask id="mask-6" fill="white">
              <use xlink:href="#path-5"></use>
            </mask>
            <g id="Clip-20"></g>
            <path d="M0.5188,27.7092 L4.9818,50.7872 L21.6158,44.8342 L30.3508,90.0002 L78.1608,38.3432 C131.5268,24.2602 140.6328,0.6102 140.6328,0.6102 L0.4558,27.3852 L0.5188,27.7092 Z" id="Fill-19" fill="#D5D5D5" mask="url(#mask-6)"></path>
          </g>
          <polygon id="Fill-22" fill="#A4A4A4" points="140.7739 75.1549 140.2639 72.5179 166.3089 67.4799 166.8189 70.1179"></polygon>
          <polygon id="Fill-24" fill="#FEFEFE" points="152.7525 45.1351 150.8825 35.4641 149.0115 25.7941 123.5895 24.3261 126.6505 40.1511 129.7115 55.9761"></polygon>
          <polygon id="Fill-26" fill="#D5D5D5" points="166.2751 115.0528 164.4051 105.3818 162.5341 95.7118 137.1121 94.2438 140.1731 110.0688 143.2341 125.8938"></polygon>
          <path d="M119.2518,53.1784 L114.9278,30.8224 C114.4338,28.2664 116.1198,25.7714 118.6758,25.2764 L118.9438,25.2254 C121.4988,24.7304 123.9948,26.4174 124.4888,28.9724 L128.8128,51.3294 C129.3068,53.8844 127.6198,56.3804 125.0648,56.8744 L124.7968,56.9264 C122.2418,57.4204 119.7458,55.7344 119.2518,53.1784" id="Fill-28" fill="#010202"></path>
          <path d="M132.7744,123.0961 L128.4504,100.7401 C127.9564,98.1841 129.6424,95.6891 132.1984,95.1941 L132.4664,95.1431 C135.0214,94.6481 137.5174,96.3351 138.0114,98.8901 L142.3354,121.2471 C142.8294,123.8021 141.1424,126.2981 138.5874,126.7921 L138.3194,126.8441 C135.7644,127.3381 133.2684,125.6521 132.7744,123.0961" id="Fill-30" fill="#010202"></path>
          <path d="M131.8056,70.047 L129.9146,60.271 C129.5176,58.215 130.8746,56.207 132.9306,55.81 L133.1456,55.768 C135.2016,55.37 137.2096,56.727 137.6076,58.783 L139.4986,68.559 C139.8956,70.615 138.5386,72.623 136.4826,73.021 L136.2676,73.062 C134.2106,73.46 132.2036,72.103 131.8056,70.047" id="Fill-32" fill="#010202"></path>
          <path d="M133.8941,80.8465 C133.4971,78.7905 134.8541,76.7825 136.9101,76.3855 L137.1251,76.3435 C139.1811,75.9455 141.1891,77.3025 141.5871,79.3585 L143.4781,89.1345 C143.8751,91.1905 142.5181,93.1985 140.4621,93.5965 L140.2471,93.6375 C138.1901,94.0355 136.1831,92.6785 135.7851,90.6225 L133.8941,80.8465 Z" id="Fill-34" fill="#010202"></path>
          <path d="M250.3035,34.8192 C239.7955,33.2472 226.1175,32.8332 208.5955,35.0182 L144.9735,4.9142 L153.7085,50.0802 L250.3035,34.8192 Z" id="Fill-36" fill="#A4A4A4"></path>
          <g id="Group-40" transform="translate(161.000000, 69.127000)">
            <mask id="mask-8" fill="white">
              <use xlink:href="#path-7"></use>
            </mask>
            <g id="Clip-39"></g>
            <path d="M95.2129,0.3993 L0.6629,22.0793 L9.3509,67.0003 L57.1609,15.3433 C73.7869,10.9563 86.1159,5.6393 95.2129,0.3993" id="Fill-38" fill="#727272" mask="url(#mask-8)"></path>
          </g>
          <path d="M191.534,92.0458 C176.564,94.9408 162.081,85.1528 159.185,70.1828 C156.29,55.2118 166.079,40.7288 181.049,37.8338 C196.019,34.9388 210.502,44.7268 213.397,59.6968 C216.293,74.6678 206.504,89.1508 191.534,92.0458" id="Fill-41" fill="#010202"></path>
          <path d="M266.7881,38.8959 L270.7101,59.1749 C278.5761,52.0679 280.6331,46.7369 280.6331,46.7369 C280.6331,46.7369 276.7371,42.5569 266.7881,38.8959 Z" id="Fill-43" fill="#010202"></path>
          <path d="M256.4985,62.733 L255.9885,60.096 C260.5785,59.208 263.5905,54.751 262.7025,50.161 C261.8155,45.571 257.3585,42.559 252.7685,43.447 L252.2585,40.809 C258.3025,39.64 264.1715,43.607 265.3405,49.651 C266.5095,55.695 262.5425,61.564 256.4985,62.733" id="Fill-45" fill="#010202"></path>
          <path d="M118.8754,62.294 C118.8754,62.294 105.3914,64.739 97.7954,82.235 C97.7954,82.235 107.8974,92.611 124.2914,92.703 C124.2914,92.703 145.5884,75.326 118.8754,62.294" id="Fill-47" fill="#FEFEFE"></path>
          <polygon id="Fill-49" fill="#FEFEFE" points="29.1867 124.8133 28.6767 122.1763 114.0367 105.6663 114.5467 108.3043"></polygon>
          <path d="M161.9313,66.0035 C159.0363,51.0325 168.8253,36.5495 183.7953,33.6545 C198.7653,30.7595 213.2483,40.5475 216.1433,55.5175 C219.0393,70.4885 209.2503,84.9715 194.2803,87.8665 C179.3103,90.7615 164.8273,80.9735 161.9313,66.0035 Z" id="Fill-51" fill="#F1D80E"></path>
          <g id="Group-2" transform="translate(173.000000, 52.000000)">
            <g id="Group">
              <ellipse id="Oval-15-Copy-7" fill="#2F2F2F" cx="10.0667122" cy="10.1115581" rx="3.92209566" ry="3.92681869"></ellipse>
              <ellipse id="Oval-15-Copy-8" fill="#FFFFFF" cx="3.92209566" cy="3.92681869" rx="3.92209566" ry="3.92681869"></ellipse>
              <ellipse id="Oval-15-Copy-9" fill="#2F2F2F" cx="15.8844874" cy="15.9363392" rx="3.92209566" ry="3.92681869"></ellipse>
              <rect id="Rectangle-23-Copy-2" fill="#2F2F2F" transform="translate(13.073652, 13.105757) rotate(-45.000000) translate(-13.073652, -13.105757) " x="9.15155653" y="8.80261857" width="7.84419131" height="8.60627764"></rect>
              <path d="M24.8233782,1.44471776 C25.5424869,0.619581855 26.6008693,0.0981704674 27.7809638,0.0981704674 C29.9473796,0.0981704674 31.7036066,1.85540835 31.7036066,4.02307112 C31.7036066,5.0178635 31.3337255,5.9262158 30.724064,6.61795246 L30.7345584,6.62844681 L18.3534372,19.009568 L12.8059826,13.4621134 L24.8233782,1.44471776 Z" id="Combined-Shape" fill="url(#linearGradient-9)"></path>
            </g>
          </g>
          <polygon id="Fill-53" fill="#FEFEFE" points="0.5101 118.0114 0.0001 115.3744 85.3601 98.8644 85.8701 101.5024"></polygon>
          <polygon id="Fill-55" fill="#FEFEFE" points="35.0073 67.4474 34.4973 64.8104 92.2643 53.6374 92.7753 56.2744"></polygon>
          <polygon id="Fill-57" fill="#FEFEFE" points="47.7286 77.4224 47.2186 74.7854 79.1606 68.6074 79.6706 71.2444"></polygon>
          <polygon id="Fill-59" fill="#FEFEFE" points="14.1012 83.9262 13.5912 81.2892 31.2842 77.8672 31.7942 80.5042"></polygon>
          <polygon id="Fill-61" fill="#FEFEFE" points="67.9679 130.3917 67.4579 127.7547 85.1509 124.3327 85.6609 126.9697"></polygon>
          <path d="M206.7588,47.543 C206.2798,47.543 205.8088,47.314 205.5188,46.889 C203.0058,43.207 199.0348,40.751 194.6258,40.151 C193.8048,40.04 193.2298,39.284 193.3418,38.463 C193.4528,37.642 194.2088,37.069 195.0298,37.179 C200.2798,37.893 205.0058,40.815 207.9958,45.197 C208.4638,45.882 208.2868,46.815 207.6028,47.282 C207.3438,47.459 207.0498,47.543 206.7588,47.543" id="Fill-65" fill="#FEFEFE"></path>
          <path d="M318.4775,32.9082 C318.2095,32.9082 317.9375,32.8362 317.6935,32.6862 C312.9785,29.7852 305.6995,28.4192 296.0575,28.6232 C295.2185,28.6532 294.5425,27.9842 294.5255,27.1562 C294.5085,26.3272 295.1655,25.6422 295.9935,25.6242 C306.2165,25.4042 314.0515,26.9242 319.2645,30.1302 C319.9705,30.5642 320.1905,31.4882 319.7565,32.1942 C319.4735,32.6552 318.9815,32.9082 318.4775,32.9082" id="Fill-67" fill="#FEFEFE"></path>
        </g>
      </g>
    </g>
  </svg>
</div>
