@import "../../../../../styles"
.rocket
  +size(100%)
  position: relative
  svg
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    height: auto
    width: 100%

