@import "../../../../../styles"
.home-table
  .table-wrap
  .table
    position: relative
    box-shadow: 0 1px 24px rgba(0,0,0,.06)
    border-radius: 3px
    overflow: hidden
    background-color: #ffffff
    margin-top: -90px
    margin-bottom: 60px
    &-header
      display: flex
      width: 100%
      height: 90px
      background-color: $gray-lite
      position: relative
      z-index: 3
      .table-cell
        color: #ffffff
        text-align: center
        font-family: $familiar
        font-size: 16px
        line-height: 22px
        letter-spacing: .2px
        padding: 0 50px
        cursor: pointer
        &:first-child
          padding-left: 67px
    &-cell
      width: 25%
      display: flex
      align-items: center
      justify-content: center
      border-right: 1px solid rgba(0,0,0,.2)
      &:first-child
        justify-content: flex-start
        padding-left: 67px
      &:last-child
        border-right: none
    &-row
      display: flex
      width: 100%
      height: 60px
      border-bottom: 1px solid rgba(0,0,0,.1)
      transition: background-color .25s ease-in, box-shadow .25s ease-in
      &:hover
        background-color: #f5f5f5
        box-shadow: 0 0 14px rgba(0,0,0,.3)
        cursor: pointer
      &:last-child
        border-bottom: none
      .table-cell
        position: relative
        font: 400 16px/19px $cabin
        letter-spacing: .8px
        span
          position: absolute
          font: 700 16px/19px $cabin
          padding-bottom: 2px
          letter-spacing: .8px
          top: 50%
          left: 30px
          transform: translateY(-50%)
