<div class="home-table">
  <div class="table-wrap wrapper">
    <div class="table">
      <div class="table-header">
        <div (click)="changeSortField('name')" class="table-cell">{{'table_column_1' | translate}}</div>
        <div (click)="changeSortField('volume')" class="table-cell">{{'table_column_2' | translate}}</div>
        <div (click)="changeSortField('fiat')" class="table-cell">{{'table_column_3' | translate}}</div>
        <div (click)="changeSortField('pairs')" class="table-cell">{{'table_column_4' | translate}}</div>
      </div>
      <a routerLink="/exchange/{{item.NAME}}" class="table-row" *ngFor="let item of list; let i = index">
        <div class="table-cell"><span>{{i+1}}.</span>{{item.NAME}}</div>
        <div class="table-cell">{{item.VOLUME | currency}}M</div>
        <div class="table-cell">{{(item.FIAT ? 'yes' : 'no') | translate}}</div>
        <div class="table-cell">{{item.NUMBER_OF_PAIRS}}</div>
      </a>
    </div>
  </div>
</div>
