@import "../../../styles"
.exchange
  &-wrap
  &-header
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding-top: 40px
    margin-bottom: 72px
    .header-l
      display: flex
      align-items: center
      .name
        color: $accent-color
        text-transform: uppercase
        font-size: 24px
        line-height: 24px
        letter-spacing: 2px
        padding-right: 30px
      .social
        border-left: 1px solid rgba(0,0,0,.2)
        display: flex
        padding-left: 30px
        &-logo
          margin-right: 12px
          +size(24px)
    .header-link
      display: block
      padding: 6px 14px
      border: 1px solid rgba(0,0,0,.2)
      font: 400 14px/18px $cabin
      color: $text-color
  &-body
    display: flex
    align-items: baseline
    margin-bottom: 38px
    .desc
      width: 50%
      height: 100%
      padding-right: 65px
      font: 400 15px/30px $cabin
      letter-spacing: .7px
      border-right: 1px solid rgba(0,0,0,.2)
    .info
      width: 50%
      height: 100%
      padding-left: 65px
      &-item
        display: flex
        margin-bottom: 12px
        &-name
          opacity: .5
          font: 500 14px/18px $cabin
          letter-spacing: 1.5px
          margin-right: 14px
        &-desc
          font: 700 15px/18px $cabin
          letter-spacing: 1.2px
  &-cards
    display: flex
    justify-content: space-between
    margin-bottom: 37px
    .card
      background-color: #ffffff
      text-align: center
      padding: 25px 8px
      width: calc(25% - 12px)
      box-shadow: 0 6px 11px -8px rgba(0,0,0,.15)
      &-label
        margin-bottom: 7px
        font: 500 14px/18px $cabin
        letter-spacing: 1.5px
        opacity: .5
      &-value
        font: 700 26px/32px $cabin
        letter-spacing: 2.1px
  &-action
    text-align: center
    .exchange-btn
      margin: 0 auto 53px
