<div class="exchange">
  <div class="exchange-wrap wrapper">
    <div class="exchange-header">
      <div class="header-l">
        <h2 class="name">{{exchange.NAME}}</h2>
        <div class="socials">
          <a target="_blank" href="{{social.LINK}}" *ngFor="let social of exchange.SOCIALS" class="social">
            <img src="/assets/img/{{social.NAME}}.png" alt="icon" class="social-logo">
          </a>
        </div>
      </div>
      <a href="{{exchange.LINK}}" class="header-link">{{exchange.LINK}}</a>
    </div>
    <div class="exchange-body">
      <div class="desc">{{exchange.DESCRIPTION}}</div>
      <div class="info">
        <div *ngIf="exchange.JURISDICTION" class="info-item">
          <p class="info-item-name">{{'label_jurisdiction' | translate}}:</p>
          <p class="info-item-desc">{{exchange.JURISDICTION}}</p>
        </div>
        <div *ngIf="exchange.FIAT" class="info-item">
          <p class="info-item-name">{{'label_fiat' | translate}}:</p>
          <p class="info-item-desc">{{exchange.FIAT}}</p>
        </div>
        <div *ngIf="exchange.ALLOWED_IN_US" class="info-item">
          <p class="info-item-name">{{'label_allowed_in_us' | translate}}:</p>
          <p class="info-item-desc">{{(exchange.ALLOWED_IN_US ? 'yes' : 'no') | translate}}</p>
        </div>
        <div *ngIf="exchange.NOT_ALLOWED_IN" class="info-item">
          <p class="info-item-name">{{'label_not_allowed_in' | translate}}:</p>
          <p class="info-item-desc">{{exchange.NOT_ALLOWED_IN}}</p>
        </div>
        <div *ngIf="exchange.LIMITATIONS" class="info-item">
          <p class="info-item-name">{{'label_limitations' | translate}}:</p>
          <p class="info-item-desc">{{exchange.LIMITATIONS}}</p>
        </div>
      </div>
    </div>
    <div class="exchange-cards">
      <div class="card">
        <div class="card-label">{{'label_volume' | translate}}</div>
        <div class="card-value">{{exchange.VOLUME | currency}}M</div>
      </div>
      <div class="card">
        <div class="card-label">{{'label_rating' | translate}}</div>
        <div class="card-value">
          <app-stars [amount]="exchange.RATING" [color]="'#2f2f2f'" [size]="26"></app-stars>
        </div>
      </div>
      <div class="card">
        <div class="card-label">{{'label_pairs' | translate}}</div>
        <div class="card-value">{{exchange.NUMBER_OF_PAIRS}}</div>
      </div>
      <div class="card">
        <div class="card-label">{{'label_tether' | translate}}</div>
        <div class="card-value">{{(exchange.TETHER ? 'yes' : 'no') | translate}}</div>
      </div>
    </div>
    <div class="exchange-action">
      <a href="mailto:sales@noisyminer.com" class="exchange-btn accent-btn">{{'hero_btn_3' | translate}}</a>
    </div>
  </div>
</div>
