@import "sass/vars"
@import "sass/css-reset"
@import '~@angular/material/theming'
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

html, body
  height: 100%
  font: 400 14px/21px $cabin
  color: $text-color
  background-color: $bg-color
body
  overflow-x: hidden

.mat-dialog-container
  padding: 0!important
  border-radius: 0!important
  box-shadow: none!important
  background-color: transparent!important
  .mat-dialog-content
    margin: 0
    padding: 0
    max-height: 90vh
.cdk-overlay-dark-backdrop
  background: rgba(0,0,0,.8)!important
.cdk-global-scrollblock
  overflow-y: hidden
.material-icons
  font-family: 'Material Icons'

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  clip-path: inset(50%)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  white-space: nowrap

.wrapper
  width: 100%
  max-width: 1200px
  min-width: 992px
  padding: 0 132px
  margin: 0 auto
  transition: padding .25s ease-in
  +large
    padding: 0 104px
  +medium
    padding: 0 76px
  +small
    padding: 0 48px
  +extra_small
    padding: 0 20px

.flex
  flex: 1

.main-btn, .accent-btn
  display: flex
  justify-content: center
  align-items: center
  width: 238px
  height: 47px
  text-align: center
  text-transform: uppercase
  +clipping_text
  border-radius: 3px
  font: 500 16px $cabin
  letter-spacing: 2px
  box-shadow: 0 15px 11px -7px rgba(0,0,0,.4)
  transition: box-shadow .25s ease-in
  cursor: pointer
  &:hover
    box-shadow: 0 7px 11px -7px rgba(0,0,0,.4)
.main-btn
  border: 2px solid $accent-color
  background-color: $gray
  color: #ffffff
.accent-btn
  background-color: $accent-color
  color: $gray-dark
